In [1]:
#Q1
#Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. 
#And when the condition becomes false, the line immediately after the loop in the program is executed.
# example
count=1
while(count<=5):
    print("pankaj")
    count=count+1
    
#In Python, the for loop is used to run a block of code for a certain number of times.
#It is used to iterate over any sequences such as list, tuple, string, etc.
#example
for i in range (5):
    print('pankaj')

pankaj
pankaj
pankaj
pankaj
pankaj
pankaj
pankaj
pankaj
pankaj
pankaj

In [6]:
#Q2 with while loop
count=1
sum=0
product=1
while count <=10:
    sum= sum + count
    product= product*count
    count=count+1
print("sum of first ten natural number = ",sum)
print("product of first ten natural number =",product)

sum of first ten natural number =  55
product of first ten natural number = 3628800

In [19]:
#Q2 with for loop
sum=0
product=1
for i in range(1,11):
    sum= sum + i
    product= product*i
print("sum of first ten natural number = ",sum)
print("product of first ten natural number =",product)

sum of first ten natural number =  55
product of first ten natural number = 3628800

In [29]:
#Q3
n=int(input("Enter the electricity bill unit"))
if n<=100:
    charge=4.5*n
    print("your electricity bill",charge)
elif n>100 and n<=200:
    charge=4.5*100 + 6*(n-100)
    print("your electricity bill",charge)
elif n>200 and n<=300:
    charge=4.5*100 + 6*100 + 10*(n-200)
    print("your electricity bill",charge)
elif n>300:
    charge=4.5*100 + 6*100 + 10*100 + 20*(n-300)
    print("your electricity bill",charge)

Enter the electricity bill unit 310

your electricity bill 2250.0

In [11]:
#Q4 using for loop
list (range(1,101))
l2=[]
for i in range(1,101):
    l=i**3
    if l%4==0 and l%5==0:
        l2.append(l) 
print(l2)

[1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [11]:
#Q5
string="i want to become an data scientist"
count=0
for i in range(len(string)):
    if((string[i]=="a")
      or (string[i]=="e")
      or (string[i]=="i")
      or (string[i]=="o")
      or (string[i]=="u")):
        count=count+1
print("Number of vowel in the given string is",count)

Number of vowel in the given string is 12